.board-container {
  display: flex;
  justify-content: center; /* Center the board horizontally */
  margin-top: 20px; /* Adjust margin as needed */
}
  .hand{
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  gap: 5px; }

  .board {
    margin-top: 50px;
    background-color: #c9a3ff;
    border-radius: 10px;
    padding:70px 90px 70px 90px;
    display: flex;
  
    position: relative; /* Ensure relative positioning */
  }
  .card-container {
    position: absolute;
    left: 20px; /* Adjust spacing from the left */
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
    margin-left: 5px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 8fr 2fr; /* 80/20 split */
    grid-gap: 20px; /* Adjust the gap between the columns */
  }
  .player-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items in the center horizontally */
}

.hand {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  gap: 5px; /* Add some space between the cards */
}

  
  .players-hand-column {
    /* Additional styling for the left column */
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* This column will occupy the first grid track */
  }
  
  .other-things-column {
    display: flex;
  flex-direction: column;
  align-items: center;
    grid-column: 2;
    margin-top: 30px; /* This column will occupy the second grid track */
  }
  
  
  .board-row {
    display: flex;
    justify-content: center;
    gap: 10px;
  
  }
 
  
  body {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255) !important;
    background-color: #1a242f !important; /* Light blue-grey background */
  }
.current-player {
  background-color: rgba(60, 255, 0, 0.378);
  padding: 5px;
 border-radius: 5px;

}

  .deal-button {
    background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  }
  #players-hand {
    width: 90%;
  }

  